*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,  #1E90FF, #FF6F61);
    padding: 10px;
}

.todo-list{
    width: 100%;
    max-width: 540;
    background: rgba(255,255,255,0.84);
    margin: 0px auto 20px;
    margin-bottom: 0px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list h2{
    /* padding-left: 100 px; */
    color: #222222;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(155,155,155,0.2);
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #25c563;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(40, 185, 105);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: rgba(5,5,5,0.55);
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
    opacity: 1;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: rgba(155,155,155,0.2);
}